@mixin letterSpacing($value, $value2) {
    .slick-slide {
        margin: 0 $value;
    }

    .slick-list {
        margin: 0 $value2;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin maxWidth($value) {
    @media (max-width: $value) {
        @content;
    }
}

@mixin setColor($value) {
    background: lighten($value, 40%);
    color: $value;
}

@mixin item-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin before($width, $height) {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
}

@mixin flex-item($content, $align) {
    display: flex;
    justify-content: $content;
    align-items: $align;
}

@mixin text-center {
    left: 50%;
    transform: translateX(-50%)
}

@mixin truncate($value) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: $value;
}

@mixin vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontal-center {
    left: 50%;
    transform: translateX(-50%);
}
