@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  /*background: #585c68;*/
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 600;
  font-size: 16px;
}

.resume {
  /*    width: 100vw;
      height: auto;*/
  /*float: right;*/
  /*margin: 50px auto;*/
}

.resume .resume_left {
  width: 40%;
  background: #66BC46;
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: #fff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 1px solid #66BC46;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  height: 35px;
  color: #fff;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .resume_left ul li .data {
  color: #fff;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 50%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #009fd9;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 60%;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #66BC46;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -23px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #66BC46;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 1px;
  height: 100%;
  background: #66BC46;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #66BC46;
  border-radius: 50%;
  position: relative;
  color: #66BC46;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: #66BC46;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}

.classtify {
  /*color:#ffffff;*/
  font-size: 16px;
}

.star {
  display: flex;
  align-items: center;
  gap: 10px;
}
.star i.active {
  color: #faec1b;
}

@media print, screen and (min-width: 210mm) {
  html,
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
/*@media (max-width: 900px) {
    .resume {
        width: 95%;
        margin: 20px auto;
    }
    .resume .resume_left .resume_profile {
        height: 190px;
    }
    .resume .resume_left ul li .icon {
       display:none;
    }
    .bold {
        font-size: 14px;
    }
    .resume .resume_right ul li .date {
        font-size: 10px;
        margin-bottom: 0px;
    }
    .semi-bold {
        font-size: 14px;
    }
    .classtify {
        font-size: 12px;
    }
    .info {
        p {
            &:last-child {
                font-size: 10px;
            }
        }
    }
    .resume .resume_left .regular {
        font-size: 10px;
    }
    .resume .resume_left ul li .data {
        font-size: 12px;
    }
    .resume .resume_left .resume_skills ul li {
        display: block;
    }
    .resume .title {
        margin-bottom: 10px;
    }
    .star {
        margin-top: 10px;
        font-size: 12px;
    }
    .resume .resume_item {
        padding: 15px 0;
    }
}*/
@media (max-width: 600px) {
  .resume {
    width: 96%;
    height: auto;
    display: flex;
    margin: 14px auto;
  }
  /* .resume .resume_left .resume_profile {
       width: 100%;
       height: 105px;
   }*/
  .resume .title {
    margin-bottom: 10px;
  }
  .bold {
    /*font-size: 12px;*/
  }
  .resume .resume_left .resume_content {
    padding: 0 12px;
  }
  .resume .resume_left ul li {
    margin-bottom: 20px;
  }
  .resume .resume_left ul li .data {
    /*font-size: 8px;*/
    line-height: 15px;
    flex: 1;
  }
  .resume .resume_left ul li .icon {
    width: 25px;
    height: 25px;
    /*font-size: 5px;*/
    /*display: none;*/
    float: left;
  }
  .classtify {
    /*font-size: 10px;*/
  }
  .semi-bold {
    /*font-size: 10px;*/
  }
  .resume .resume_right ul li .date {
    /*font-size: 10px;*/
    margin-bottom: 0px;
  }
  .resume .resume_right {
    padding: 10px;
  }
  .info p:last-child {
    /*font-size: 10px;*/
  }
  .resume .resume_left .resume_skills ul li {
    display: block;
    margin-bottom: 10px;
  }
  .resume .resume_left .resume_skills ul li .skill_name {
    width: 100%;
    /*font-size: 10px;*/
    margin-bottom: 10px;
  }
  .resume .resume_item {
    padding: 12px 0;
  }
  .resume .resume_left .regular {
    color: #fff;
    /*font-size: 10px;*/
  }
  .star {
    /*font-size: 10px;*/
  }
}
