@import "mixins";
@import "variables";

@include maxWidth(1024px) {
    .menu-nav, .user-action {
        display: none;
    }

    header {
        position: static;
    }

    .toggle-icon {
        display: block;
        font-size: 1.875rem;
    }

    .box-menu-repon {
        background: #f2f2f2;
        margin: 0;
        max-height: 88vh;
        overflow: auto;
        padding: 1rem;
    }

    .ul-reponsive {
        display: none;
        margin-top: 15px;

        li {
            background: #f4f5f5;
            border-radius: .375rem;
            margin-bottom: .5rem;
            padding: 0.875rem 1rem;
            position: relative;
            margin-bottom: .938rem;

            a {
                color: #212f3f;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.25rem;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    .ul-repon {
        > li {
            background: #fff;
            border-radius: 0.375rem;
            padding: 0.875rem 1rem;
            margin-bottom: 0.5rem;
            align-items: flex-end;

            div {
                align-items: flex-end;
            }
        }
    }

    .link-repon {
        color: #00b14f;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
    }

    .icon-reponsive, .icon-study {
        font-size: 14px;
        transition: all .5s;

        i {
            transition: all .5s;
        }

        &.active {
            i {
                transition: all .5s;
                transform: rotate(180deg);
            }
        }
    }

    .study-repon, .navbar-right__item {
        display: none;
    }

    .fix-size-img {
        margin-right: 0.5rem;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .name-user-mb {
        font-size: 1rem;
        text-decoration: none;
        color: #66BC46;
        font-weight: 600;
    }

    .email-user-mb {
        font-size: 0.8rem;
        color: #7d7d7d;
        text-decoration: none
    }

    .link-user {
        display: flex;
        gap: .5rem;

        i {
            color: #00b14f !important;
            font-size: .875rem !important;
            font-weight: 600 !important;
            line-height: 1.25rem !important;
        }
    }

    .filter-banner_2, .filter-banner_3 {
        display: none;
    }

    .filter-banner_4 {
        grid-area: 1/7/2/10;
    }

    .filter-banner_1 {
        grid-area: 1/1/2/7;
    }

    .list-keyword {
        width: 67%;
    }

    .group-select {
        gap: 1.25rem;
        width: 60%;
    }

    .box-filer {
        display: none !important;
    }

    .hot-section {
        padding: 1.875rem 0 3.75rem 0;
    }

    .list-hotjob {
        .slick-arrow {
            top: 100%;
        }

        .previous-slie {
            right: 50%;
        }

        .next-slie {
            right: 45%;
        }
    }

    .sort-contruy {
        width: 50% !important;
    }

    .section-filter {
        display: none;
        color: #A6ACB2;

        &.active {
            display: block;
        }
    }

    .card-career {
        height: 10.9375rem;
        padding: 10px 10px 20px;
    }

    .thuml-img {
        width: 5.46556rem;
        height: 5.46556rem;
    }

    .list-career .previous-career {
        right: 5%;
    }

    .list-support .previous-support {
        right: 5%;
    }

    .item-search {
        width: 35.625rem;
    }

    #frm-search-job {
        flex-wrap: wrap;

        > .group-search {
            width: 100% !important;
        }
    }

    .w-custom {
        width: 50%;
        flex: 1;

        .select2-container {
            width: 100% !important;
        }
    }

    .company-image-logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .company-detail-overview {
        padding-left: 2.5rem;
        height: 17.6875rem;
        flex-direction: column;
        justify-content: center;
    }

    .box-detail {
        flex: unset;
        width: 100%;
        margin-top: 5rem;
    }

    .company-detail-name, .company-subdetail {
        justify-content: center;
    }

    .box-follow {
        margin-top: 1.2rem;
        flex-direction: row;
    }

    .info-job-company {
        display: flex;
    }

    .contents {
        padding: 1rem 3rem;
    }

    .checkbox-wrapper-42 .cbx {
        width: 1.163rem;
        height: 1.163rem;
    }

    .cbx-custom {
        width: 1.063rem !important;
        height: 1.063rem !important;
    }

    .study-img {
        width: 5.5625rem;
        height: 5.5625rem;
    }

    .study-abroad-grid {
        @include letterSpacing(10px, -10px);
    }

    .group-info span {
        font-size: 0.7125rem;
    }

    .group-info span.hot {
        font-size: 0.65rem;
    }

    .popupuser {
        width: 75%;
    }

    .sub-line {
        text-align: center;
    }

    .company-detail-name {
        margin-top: 2rem;
    }

    .name-profile {
        margin-bottom: 4rem;
    }

    .group-btn-profile {
        width: 100%;
        left: 0;
        bottom: 1.5rem;
        justify-content: center;
    }

    .video iframe {
        width: 100%;
        aspect-ratio: auto;
        height: 500px;
    }

    .intro {
        position: relative;
        height: 13.9125rem;
        overflow: hidden;
    }

    .slogan {
        font-size: 1.5rem;
    }

    .sub-slogan {
        font-size: .75rem;
        line-height: 3;
    }

    .filter-parent {
        grid-template-columns: repeat(6, 2fr);
    }

    .half .bg {
        display: none;
    }

    .half .contents {
        width: 100%;
    }

    .navs-employer {
        position: relative;
        left: auto;
        bottom: auto;
        margin-top: 25px;
        padding-bottom: 33px;
    }

    .list-career {
        .slick-arrow {
            top: 96%;
        }

        .previous-career {
            right: 50%;
        }

        .next-career {
            right: 45%;
        }
    }

    .ul-studyAbroad {
        margin-bottom: 1.25rem;
    }

    
}

@include maxWidth(900px) {
    .job-detail-fixed-menu__left {
        width: 100%;
    }

    .section-info {
        margin-bottom: 1rem;
    }

    .filter-btn {
        font-size: 0.75rem;
    }

    .sidebar {
        width: 40%;
    }

    .banner:before {
        height: 100%;
        width: 100%;
        top: 0;
    }

    .list-banner {
        img {
            height: 23.6875rem;
        }
    }

    .hot-keyword {
        display: none;
    }

    .list-hotjob .next-slie {
        right: 44%;
    }

    .list-career .previous-career {
        right: 51%;
    }

    .list-career .next-career {
        right: 43%;
    }

    .footer-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-footer {
        display: none;
    }

    .popupuser {
        width: 100%;
    }

    .title-model {
        margin-top: 1rem;
    }
}

@include maxWidth(600px) {
    .job-detail-fixed-menu__tabs--item.active {
        display: none;
    }

    .hot-keyword > span {
        display: none;
    }

    .logo {
        width: 10.125rem;
    }

    .box-notification {
        background: unset;

        i {
            font-size: 1.3rem;
        }
    }

    .slogan {
        font-size: 1.2rem;
    }

    .sub-slogan {
        line-height: 2;
    }

    .filter-banner {
        margin-top: .6rem;
    }

    .filter-btn {
        span {
            display: none;
        }
    }

    .list-banner img {
        height: 17.6875rem;
    }

    .hot-section {
        padding: 30px 0 40px 0;
    }

    .or {
        font-size: .8rem;
    }

    .contents {
        padding: 1rem 1rem;
    }

    .login-social-list a {
        height: 2rem;
        font-size: 0.75rem;
    }

    .checkbox-wrapper-42 .lbl {
        width: 100%;
    }

    .title-form_sub {
        font-size: 0.65rem;
    }

    .font-size-12 {
        font-size: 0.75rem;
    }

    .logo-form {
        width: 100%;
    }

    .submit-form {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    .user-form label {
        font-size: 0.75rem;
    }

    .user-form input, .user-form select {
        font-size: 0.75rem;
    }

    .popupBtn {
        padding: 0.8rem 1rem;
        font-size: 0.6rem;
    }

    .titlepPop-up-sub {
        font-size: .7rem;
        width: 80%;
    }

    .titlepPop-up {
        font-size: 0.7rem;

        span {
            font-size: 1.7rem;
        }
    }

    .sort-contruy {
        span {
            font-size: 0.65rem;
        }


        select {
            font-size: 0.7rem;
        }
    }

    .section-filter.active {
        font-size: 0.7rem;
        height: 100%;
    }

    .list-hotjob .slick-dots button {
        width: 0.7rem;
        height: 0.7rem;
        background-color: #c3c3c3;
    }

    .list-career .slick-dots button {
        width: 0.7rem;
        height: 0.7rem;
        background-color: #c3c3c3;
    }

    .hot-section {
        padding: 30px 0 30px 0;
    }

    .title {
        font-size: 1.1rem;
    }

    .filter-banner_1 {
        input {
            font-size: 0.7rem;
        }
    }

    .filter-banner {
        padding: 1.2rem 0.925rem;
    }

    .filter-btn {
        font-size: 0.75rem;
        ;
    }

    .filter-parent {
        gap: 1rem;
    }

    .title-sub {
        font-size: 0.7125rem;
    }

    .job-title {
        font-size: 1rem;
    }

    .job-sub {
        font-size: 0.575rem;
    }

    .item-search {
        width: 100%;
        flex: 1;
    }

    .search-city {
        padding-left: 0;
        width: 50%;
        font-size: 0.65rem;

        &.border-left {
            /*border-left: 0 !important;*/
        }

        .select2-container {
            font-size: 0.75rem;
        }
    }

    .group-search {
        height: auto;
        font-size: .75rem;

        input, .group-search select {
            font-size: .75rem;
        }
    }

    .box-work-market {
        display: block;
        text-align: center;
    }

    .item-label {
        font-size: 0.7rem;
    }

    .number-job-new-today {
        font-size: 0.75rem;
    }

    .list-bannerjob img {
        height: 4.9375rem;
    }

    .detail-job .job-name {
        font-size: .8rem;
        width: 17rem !important;
    }

    .time-deadline {
        font-size: 0.65rem;
    }

    .job-q {
        font-size: .7rem;

        span {
            font-size: .7rem;
        }
    }

    #frm-search-job {
        button {
            height: 2.2rem;
        }

        gap: 0.75rem;
    }

    .info-job {
        font-size: .7rem;
    }

    .detail-job .company-name {
        font-size: 0.7125rem;
        font-weight: 400;
    }

    .group-info span.hot {
        display: none;
    }
    /*.ul-studyAbroad {
        display: none;
    }*/
    .title-company-search {
        font-size: 1.4rem;
    }

    .company-form {
        width: 100%;
        font-size: .875rem;
    }

    .company-title {
        font-size: 1.25rem;
    }

    .cover-wrapper img {
        height: 8.4375rem;
    }

    .company-image-logo {
        width: 8.5625rem;
        height: 8.5625rem;
    }

    .box-detail {
        margin-top: 1rem;
        position: relative;
    }

    .company-detail-name {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 700;
        display: flex;
        gap: 0.325rem;
        text-transform: uppercase;
        align-items: center;
        flex-direction: column-reverse;
    }

    .company-detail-name {
        font-size: 1.1rem;
        gap: 0.325rem;
        text-align: center;
    }

    .company-subdetail {
        flex-direction: column;
    }

    .company-detail-overview {
        min-height: 20.6875rem;
    }

    .box-follow {
        margin-top: 1.2rem;
        flex-direction: column;
    }

    .tag-name {
        display: none;
    }

    .box-follow a {
        width: 11.5rem;
        height: 3rem;
        font-size: .9rem;
    }

    .company-detail-overview {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .company-subdetail a {
        text-align: center;
    }

    .job-detail__name {
        font-size: 1rem;
    }

    .section-info {
        margin-bottom: 1rem;
    }

    .job-detail__info--section-content-value, .job-detail__info--section-content-title {
        font-size: .8rem;
    }

    .button1 {
        grid-area: 1 / 1 / 2 / 7;
    }

    .button2 {
        grid-area: 2 / 1 / 3 / 4;
    }

    .button3 {
        grid-area: 2 / 4 / 3 / 7;
    }

    .button-list {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .samefield-name {
        font-size: .9rem;
    }

    .job-qtity {
        font-size: 0.65rem;
    }

    .fl-samefield {
        height: 2rem;
        font-size: 0.8375rem;
    }

    .info-job-company {
        flex-wrap: wrap;
    }

    .info-job-company div {
        font-size: 0.65rem !important;
    }

    .job-in-company-name {
        font-size: .9rem;
    }

    .media-mb {
        display: block;
    }

    .price-job {
        display: flex;
        font-size: 12px;
        font-weight: 600;
        justify-content: flex-start;
    }

    .apply-url {
        display: none;
    }

    .samefield {
        display: block;
    }

    .fl-samefield {
        display: none;
    }

    .job-detail__information-detail--title {
        font-size: 1rem;
    }

    .detail-title-box {
        font-size: 15px;
    }

    .job-in-company .heart {
        position: absolute;
        bottom: 18px;
        right: 0px;
    }

    .grid-form1 {
        grid-area: 1 / 1 / 2 / 13;
        font-size: 14px;
    }

    .grid-form2 {
        font-size: 14px;
        grid-area: 2 / 1 / 3 / 7;
    }

    .grid-form3 {
        font-size: 14px;
        grid-area: 2 / 7 / 3 / 13;
    }

    .grid-form4 {
        font-size: 14px;
        grid-area: 3 / 1 / 4 / 13;
    }

    .grid-form {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .recruitment {
        padding: 1.25rem 1rem;
    }
    /* .box-follow a {
        width: 8.5rem;
        height: 2rem;
        font-size: 0.9rem;
        line-height: unset;
    }*/
}
