@import "mixins";
@import "variables";

.study-abroad {
    position: relative;
    @include letterSpacing(10px, -10px);

    a {
        /*height: 15rem;*/
        border-radius: 10px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    $widthArrow: 2.5rem;

    button.slick-arrow {
        position: absolute;
        top: calc(50% - $widthArrow / 2);
        width: $widthArrow;
        height: $widthArrow;
        @include flex-center;
        z-index: 10;
        color: $green;
        background-color: $white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 50%;
    }

    .slick-arrow.chevron-next {
        right: calc($widthArrow / 2 * -1);
    }

    .slick-arrow.chevron-prev {
        left: calc($widthArrow / 2 * -1);
    }
}

.section-title {
    text-align: center;

    h2 {
        color: $text-title;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }

    span {
        color: $black;
        font-size: 13px;
        font-weight: 400;
    }
}

.link-green {
    color: $green;
    text-decoration: underline;
}

.scholarship {
    @include letterSpacing(10px, -10px);
    $widthArrow: 2.5rem;
    button.slick-arrow {
        position: absolute;
        top: calc(50% - $widthArrow / 2);
        width: $widthArrow;
        height: $widthArrow;
        @include flex-center;
        z-index: 10;
        color: $text-span;
        background-color: transparent;
        border: 1px solid $text-span;
        border-radius: 50%;
    }

    .slick-arrow.chevron-next {
        right: calc($widthArrow * -1.5);
    }

    .slick-arrow.chevron-prev {
        left: calc($widthArrow * -1.5);
    }
}
.banner-cat {
    width: 100%;
    object-fit: cover;
}
.item-scholarship {
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 20px !important;
    margin-bottom: 20px !important;

    > a {
        display: block;
        height: 13rem;
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 205px;
    }

    .card-title {
        color: $text-title;
        font-size: 1rem;
        font-weight: 600;
        @include truncate(1);
    }

    .card-text {
        color: $text-span;
        font-size: 13px;
        font-weight: 400;
    }

    .link-scholarship {
        display: inline-flex;
        color: $text-title;
        font-size: 0.75rem;
        font-weight: 400;
        padding: 4px 8px;
        border-radius: 3px;
        background: #F4F5F5;
    }
}

$showWidth: 5rem;
$headerHeight: 4.25rem;

header.header-employer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: $headerHeight;
    display: flex;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 0 1rem 0 0;

    .hamburger {
        width: $showWidth;
        outline: none;
        border: none;
        background-color: transparent;
    }

    > ul {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        list-style-type: none;
        @include flex-item(end, center);
        gap: 30px;
    }

    li > a, li button {
        position: relative;
        @include flex-center;
        gap: 5px;
        padding: 6px 12px;
        color: $white;
        height: 2.25rem;
        border-radius: 20px;
        background: lighten($text-title, 10%);
    }

    a > span {
        position: absolute;
        top: -10px;
        right: -15px;
        z-index: 10;
        color: $white;
        font-size: 0.813rem;
        font-weight: 600;
        width: 2.25rem;
        height: 1.25rem;
        @include flex-center;
        border-radius: 20px;
        background-color: $red;
    }

    li button {
        padding: 4px 6px;
    }

    .dropdown-toggle > img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        object-fit:cover;
    }

    logo {
        display: block;
    }
}

.wrapper {
    width: 100vw;
    display: flex;
    background: #e8edf2;

    .contents {
        padding: $headerHeight 0 0 0;
        height: 100vh;
        flex: 1 1 auto;
        overflow-y: scroll;
    }

    .contents > * {
        margin-left: auto;
        margin-right: auto;
    }

    .contents-header {
        position: sticky;
        top: 0;
        @include flex-item(space-between, center);
        padding: .5rem 1rem;
        z-index: 9;
        background-color: $white;
        border-bottom: 1px solid #cdcdcd;

        h2 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 2.25rem;
            margin-bottom: 0;
        }
    }
}

.sidebar {
    padding-top: $headerHeight;
    width: 16rem;
    height: 100vh;
    background-color: $sidebar;
    border-right: 1px solid #cdcdcd;
    overflow: hidden;
    overflow-y: auto;
    transition: .4s;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    &.collapsed {
        width: $showWidth;
    }

    &.collapsed .w-hidden {
        margin-right: -200px;
        transition: .2s;
    }

    .vw {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid lighten($text-sidebar, 70%);
        margin: .75rem 0;
    }
}

.user-sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;

    img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit:cover;
        border-radius: 50%;
    }

    .w-hidden {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    h5 {
        color: $text-sidebar;
        font-size: 1rem;
        margin-bottom: 0;
    }

    p {
        color: $text-sidebar;
        font-size: .75rem;
        margin-bottom: 0;
    }
}

.nav-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        display: flex;
        color: $text-sidebar;
    }
}
.w-show {
    width: $showWidth;
    height: 50px;
    @include flex-center;
    transition: .3s;
}

.w-hidden {
    height: 50px;
    @include flex-item(start, center);
    flex-grow: 1;
    margin-right: 0;
    transition: .4s;
}

.box-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    padding: 1rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.box-header {
    padding: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;

    h3 {
        color: $text-title;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    a {
        position: relative;
        color: $text-span;
    }

    a > div {
        position: absolute;
        top: 100%;
        right: 0;
        width: 120px;
        padding: .75rem;
        border-radius: 3px;
        z-index: 10;
        font-size: .75rem;
        font-weight: 600;
        color: $text-span;
        text-align: justify;
        background-color: $white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    a:hover > div {
        opacity: 1;
        visibility: visible;
    }

    .input-group {
        border: 1px solid #cdcdcd;
        border-radius: 3px;
    }

    .input-group-text {
        background-color: transparent;
        color: $text-span;
        font-weight: 500;
        border: none;
    }

    .input-group .form-control, 
    .vscomp-toggle-button
    {
        border: none;
    }
}

.box-body {
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-dashboard {
    flex: 1 1 calc(50% - 10px);
    @include flex-item(start, center);
    padding: 10px;
    border-radius: 5px;

    h5 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    &.blue {
        @include setColor(#2d7cf1);
    }

    &.green {
        @include setColor(#00b14f);
    }

    &.yellow {
        @include setColor(#e5b500);
    }

    &.red {
        @include setColor(#da4538);
    }
}

.user-info.media {
    align-items: center;
    gap: 10px;

    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .media-body {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        font-size: 0.8rem;
        font-weight: 400;

        span {
            font-weight: 600;
        }
    }

    li:first-child {
        font-size: 1rem;
        color: $green;
        font-weight: 600;
    }
}

.use-package.media {
    position: absolute;
    top: 85px;
    right: 0;
    align-items: center;
    width: max-content;
    padding: 10px;
    color: $white;
    border-radius: 35px 0 0 35px;
    background-color: $green;

    a:first-child {
        @include flex-center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        color: $green;
        font-size: 20px;
        margin-right: 10px;
    }

    a:last-child {
        color: $white;
        padding-left: 10px;
    }

    h5 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    p {
        font-size: .75rem;
        margin-bottom: 0;
    }
}

.profile-tabs {

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.625rem;
        padding: 0.625rem 1.25rem;
        border-radius: 3px;
        background-color: #f5f8fa;
        transition: .4s;
    }

    li.ui-tabs-active a {
        color: $white;
        background-color: $green;
    }

}

.form-content {
    padding: 1.25rem;
    border-radius: 3px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form-avartar {
    @include flex-item(start, center);
    gap: .75rem;

    label {
        margin-bottom: 0;
    }

    img {
        width: 7rem;
        object-fit:cover;
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }

    button {
        padding: 4px 8px;
        background-color: #f5f8fa;
        border-radius: 3px;
        outline: none;
        border: none;
        font-size: .75rem;
        font-weight: 600;
    }
}

.title-package {

    h2 {
        font-size: 24px;
    }

    h2 span {
        color: $green;
    }
}

.item-package {
    transition: .4s;

    &:hover {
        border-color: $green;
    }

    .card-title {
        text-transform: uppercase;
    }

    .card-text {
        color: $green;
        font-size: 1.125rem;
        font-weight: 500;

        b {
            color: $red;
            font-size: .75rem;
        }
    }

    .btns {
        display: flex;
        align-items: center;
        gap: 10px;

        .btn {
            flex: 1 1 calc(50% - 10px);
        }
    }
}

.nice-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content !important;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    overflow: hidden;

    button, button:hover, button:focus {
        width: 2.25rem;
        height: 2.25rem;
        outline: none;
        border: none;
        box-shadow: none;
        background: none;
    }
}

.input-number {
    width: 3rem !important;
    height: 2.25rem;
    text-align: center;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
}

.text-green {
    color: $green;
}

.table-cart {
    tbody td {
        vertical-align: middle;
    }

    tbody tr:hover {
        background-color: $blur;
    }

    td h5 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    td p {
        font-size: .85rem;
        font-weight: 400;
    }
}

.employer-sum {

    ul {
        margin: 1rem 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        @include flex-item(space-between, center);
    }
}

.info-ntd {
    background-color: $white;
    border-radius: 5px;
    border-left: 6px solid $green;
    padding: 1.25rem;

    ul {
        @include flex-item(start, center);
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        flex: 1 1 auto;
    }
}

.box-body.payment {
    padding-bottom: 0;

    .nav > * {
        flex: 1 1 auto;
    }

    .nav-tabs {
        border: none;
    }

    .nav-link {
        border: none;
        border-bottom: 3px solid transparent;
        transition: .4s;
    }

    .nav-link.active {
        border-color: var(--payment-color);
    }

    .accordion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accordion > a {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 20px;
        background-color: $blur;
        margin-bottom: 1rem;
    }
}

.form-group {
    display: flex;
    flex-direction: column;

    > * {
        flex: 1 1 100%;
        max-width: 100%;
    }

}

.vscomp-toggle-button {
    padding: .563rem .75rem;
    border-radius: 3px;
}

.hidden-arrow.dropdown-toggle::after {
    display: none;
}

.box-content.order-tracking {

    .box-header {
        border-bottom: 1px solid $green;
    }

    .nav {
        border: none;
    }

    .nav-link {
        color: $text-span;
        margin-bottom: -2px;
    }

    .nav-link.active {
        color: $green;
        border: 1px solid $green;
        border-bottom: 0;
    }
}

$timeColo: #2d7cf1;

.time-line {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 1rem;
    border-left: 1px solid lighten($timeColo, 36%);

    .time {
        padding: 3px 6px;
        color: $timeColo;
        font-weight: 600;
        border-radius: 3px;
        background-color: lighten($timeColo, 36%);
        margin-right: .5rem;
    }

    li {
        position: relative;
        padding-left: 1.5rem;
    }

    li::before {
        content: "";
        position: absolute;
        top: calc(50% - 7px / 2);
        left: -4px;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: lighten($timeColo, 36%);
        box-shadow: 0 0 0 5px #f5f8fa;
    }
}

.tools-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;

    a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2.25rem;
        height: 2.25rem;
        background-color: $blur;
        border-radius: 50%;
    }
}

.li-notification {
    position: relative;

    &:hover .notification {
        opacity: 1;
        visibility: visible;
    }
}

.notification {
    position: absolute;
    top: 120%;
    right: 0;
    width: 30rem;
    max-height: 26rem;
    padding: 0;
    margin: 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    background-color: $white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    li.header {
        position: sticky;
        top: 0;
        /*z-index: 8;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
        background-color: $white;
    }

    li.header .title-notification {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    li.header a {
        color: $red;
        font-size: .85rem;
        text-decoration: underline;
        background-color: transparent;
    }

    li.media {
        padding: 1rem;
        border-bottom: 1px solid #cdcdcd;
    }

    li.media > i {
        color: $green;
        font-size: 1.5rem;
    }

    p {
        font-size: .85rem;
        margin-bottom: 0;
    }

    .media-body > i {
        font-size: .65rem;
    }
}
.ui-datepicker-title {
    display: flex;
    gap: 20px;
    select{
        border:0;
    }
}
.draft{
    font-size:.9rem;
    font-style:italic;
}
.font-size-12{
    font-size:.8rem;
}
.custom-input{
    width:100% !important;
    input{
        flex:1;
    }
}
.input-group-prepend {
    input {
        &::placeholder{
            font-size:.6rem;
        }
    }
}
.alert-message{

    ul{
        margin-bottom:0;
    }
}
.company-image-logo {
    &:hover {
        .change-avater {
            visibility: visible;
            opacity: 1;
        }
    }
}
.change-avater {
    position: absolute;
    @include item-center;
    font-size: 2rem;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    background: #00000091;
    width: 100%;
    height: 100%;
    @include flex-center;
    cursor: pointer;
    i {
        position: relative;
        z-index: 2;
        color: #fff;
    }
}
.custom-h {
    height: 150px;
}
.change-cover {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    cursor: pointer;
    color:$white;
}

.vitae {
    gap: 1rem;
    padding: 1rem 0;
    border-bottom:2px solid $blur;
    > img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit:cover;
    }

    .apply-name {
        font-size: 1.25rem;
        font-weight: 600;
        @include truncate(1);
        margin-bottom: .5rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6px;
        width: 100%;
        height: 10rem;
        padding: 20px;
        margin: 0;
        border-radius: 3px;
        background-color: #f5f8fa;
        list-style-type: none;
        font-size: .75rem;
        font-weight: 500;
        color: $text-title;
    }

    li {
        display: flex;
        gap: 6px;
        align-items: baseline;
        @include truncate(1);
    }


    .media-body.des {
        width: 10rem;
        flex: auto;
        overflow-y: auto;
    }

    .tool {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    .tool > a {
        @include flex-center;
        width: 2.25rem;
        height: 2.25rem;
        color: $white;
        font-size: .75rem;
        border-radius: 50%;
    }
}
.tag {
    position: absolute;
    width: 5rem;
    color: #fff;
    text-align: center;
    /*background: #d92027;*/
    justify-content: center;
    line-height: 1rem;
    border-radius: 5px;
    top: -4%;
    right: 0.5rem;
    font-size: .7rem;

    &.success {
        background: $green;
    }

    &.error {
        background: #d92027;
    }
}
.img-a{
    width:100px;
    object-fit:cover;
    aspect-ratio:1.5;
}
.spinner {
    position: relative;
    width: 15.7px;
    height: 15.7px;
}

.spinner div {
    animation: spinner-4t3wzl 1.875s infinite backwards;
    background-color: #66bc46;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: $green;
}

.spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(102,188,70,0.8);
}

.spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(102,188,70,0.7);
}

.spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(102,188,70,0.6);
}

.spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(102,188,70,0.5);
}

@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%, 100% {
        transform: rotate(360deg) translateY(-200%);
    }
}
.loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: #000000ab;
    z-index: 999;
    top: 0;

    &.active {
        display: flex;
    }
}

.sort-wage{
    width:200px;
}