@import "mixins";
@import "variables";

.study-abroad {
    position: relative;
    @include letterSpacing(10px, -10px);

    a {
        height: 15rem;
        border-radius: 10px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    $widthArrow: 2.5rem;

    button.slick-arrow {
        position: absolute;
        top: calc(50% - $widthArrow / 2);
        width: $widthArrow;
        height: $widthArrow;
        @include flex-center;
        z-index: 10;
        color: $green;
        background-color: $white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 50%;
    }

    .slick-arrow.chevron-next {
        right: calc($widthArrow / 2 * -1);
    }

    .slick-arrow.chevron-prev {
        left: calc($widthArrow / 2 * -1);
    }
}

.section-title {
    text-align: center;

    h2 {
        color: $text-title;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }

    span {
        color: $black;
        font-size: 13px;
        font-weight: 400;
    }
}

.link-green {
    color: $green;
    text-decoration: underline;
}

.scholarship {
    @include letterSpacing(10px, -10px);

    $widthArrow: 2.5rem;

    button.slick-arrow {
        position: absolute;
        top: calc(50% - $widthArrow / 2);
        width: $widthArrow;
        height: $widthArrow;
        @include flex-center;
        z-index: 10;
        color: $text-span;
        background-color: transparent;
        border: 1px solid $text-span;
        border-radius: 50%;
    }

    .slick-arrow.chevron-next {
        right: calc($widthArrow * -1.5);
    }

    .slick-arrow.chevron-prev {
        left: calc($widthArrow * -1.5);
    }
}

.item-scholarship {
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 20px !important;
    margin-bottom: 20px !important;

    > a {
        display: block;
        height: 13rem;
    }

    img {
        width: 100%;
    }

    .card-title * {
        color: $text-title;
        font-size: 1rem;
        font-weight: 600;
        @include truncate(1);
    }

    .card-text {
        color: $text-span;
        font-size: 13px;
        font-weight: 400;
    }

    .link-scholarship {
        display: inline-flex;
        color: $text-title;
        font-size: 0.75rem;
        font-weight: 400;
        padding: 4px 8px;
        border-radius: 3px;
        background: #F4F5F5;
    }
}

$showWidth: 5rem;
$headerHeight: 4.25rem;

header.header-employer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    height: $headerHeight;
    display: flex;
    background: $white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0 1rem 0 0;

    .hamburger {
        width: $showWidth;
        outline: none;
        border: none;
        background-color: transparent;
    }

    > ul {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        list-style-type: none;
        @include flex-item(end, center);
        gap: 10px;
    }

    li > a, li button {
        position: relative;
        @include flex-center;
        gap: 5px;
        padding: 6px 12px;
        color: $white;
        height: 2.25rem;
        border-radius: 20px;
        background: lighten($green, 10%);
    }

    a > span {
        position: absolute;
        top: -10px;
        right: -15px;
        z-index: 10;
        color: $white;
        font-size: 0.813rem;
        font-weight: 600;
        width: 2.25rem;
        height: 1.25rem;
        @include flex-center;
        border-radius: 20px;
        background-color: $red;
    }

    li button {
        padding: 4px 6px;
    }

    .dropdown-toggle > img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }

    logo {
        display: block;
    }
}

.wrapper {
    width: 100vw;
    display: flex;
    background: #e8edf2;

    .contents {
        padding-top: calc($headerHeight + 0.938rem);
        height: 100vh;
        flex: 1 1 auto;
    }

    .contents > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.sidebar {
    padding-top: $headerHeight;
    flex: 1 1 16rem;
    width: 16rem;
    height: 100vh;
    background-color: $sidebar;
    overflow: hidden;
    overflow-y: auto;
    transition: .4s;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    &.collapsed {
        width: $showWidth;
    }

    &.collapsed .w-hidden {
        margin-right: -200px;
        transition: .2s;
    }

    .vw {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid lighten($text-sidebar, 70%);
        margin: .75rem 0;
    }
}

.user-sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;

    img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    .w-hidden {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    h5 {
        color: $text-sidebar;
        font-size: 1rem;
        margin-bottom: 0;
    }

    p {
        color: $text-sidebar;
        font-size: .75rem;
        margin-bottom: 0;
    }
}

.nav-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        display: flex;
        color: $text-sidebar;
    }
}
.w-show {
    width: $showWidth;
    height: 50px;
    @include flex-center;
    transition: .3s;
}

.w-hidden {
    height: 50px;
    @include flex-item(start, center);
    flex-grow: 1;
    margin-right: 0;
    transition: .4s;
}

.box-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    padding: 1rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.box-header {
    padding: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;

    h3 {
        color: $text-title;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    a {
        position: relative;
        color: $text-span;
    }

    a > div {
        position: absolute;
        top: 100%;
        left: 0;
        width: 120px;
        padding: .75rem;
        border-radius: 3px;
        z-index: 10;
        font-size: .75rem;
        font-weight: 600;
        color: $text-span;
        text-align: justify;
        background-color: $white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    a:hover > div {
        opacity: 1;
        visibility: visible;
    }
}

.box-body {
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-dashboard {
    flex: 1 1 calc(50% - 10px);
    @include flex-item(start, center);
    padding: 10px;
    border-radius: 5px;

    h5 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    &.blue {
        @include setColor(#2d7cf1);
    }

    &.green {
        @include setColor(#00b14f);
    }

    &.yellow {
        @include setColor(#e5b500);
    }

    &.red {
        @include setColor(#da4538);
    }
}

.user-info.media {
    align-items: center;
    gap: 10px;

    img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .media-body {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        font-size: 0.8rem;
        font-weight: 400;

        span {
            font-weight: 600;
        }
    }

    li:first-child {
        font-size: 1rem;
        color: $green;
        font-weight: bold;
    }
}

.use-package.media {
    position: absolute;
    top: 85px;
    right: 0;
    align-items: center;
    width: max-content;
    padding: 10px;
    color: $white;
    border-radius: 35px 0 0 35px;
    background-color: $green;

    a {
        @include flex-center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        color: $green;
        margin-right: 10px;
    }

    h5 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    p {
        font-size: .75rem;
        margin-bottom: 0;
    }
}