@model GlobeWork.ViewModel.CampaignsViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Smart Recruitment Platform";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
    var now = DateTime.Now;
}
<div class="">

</div>
