<header class="header-employer">
    <button type="button" class="hamburger" onclick="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <a href="" class="logo">
        <img src="~/Content/images/logo.png" />
    </a>
    <ul>
        <li>
            <a href="">
                <i class="fa-solid fa-bell"></i>
                <span>99+</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-sharp fa-solid fa-pen-circle"></i>
                Đăng tin
            </a>
        </li>
        <li>
            <div class="dropdown dropdown-menu-lg-right">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <img src="~/Content/images/anhhocbong.png" />
                    thằng định
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Đăng xuất</a>
                </div>
            </div>
        </li>
    </ul>
</header>
