@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div class="container">
    <div class="row custom-row">
        <div class="col-6">
            <div class="box-content">
                <div class="box-header">
                    <h3>
                        Hiệu quả tuyển dụng
                    </h3>
                    <a href="javascript:;">
                        <i class="fa-solid fa-circle-info"></i>
                        <div>
                            Số liệu cập nhật theo ngày
                        </div>
                    </a>
                </div>

                <div class="box-body">
                    <div class="dashboard">
                        <a href="" class="media item-dashboard blue">
                            <div class="media-body">
                                <h5 class="mt-0">0</h5>
                                <p>Chiến dịch tuyển dụng</p>
                            </div>
                            <i class="fal fa-bullhorn"></i>
                        </a>
                        <a href="" class="media item-dashboard green">
                            <div class="media-body">
                                <h5 class="mt-0">0</h5>
                                <p>CV tiếp nhận</p>
                            </div>
                            <i class="fal fa-bullhorn"></i>
                        </a>
                        <a href="" class="media item-dashboard yellow">
                            <div class="media-body">
                                <h5 class="mt-0">0</h5>
                                <p>Tin tuyển dụng hiển thị</p>
                            </div>
                            <i class="fal fa-bullhorn"></i>
                        </a>
                        <a href="" class="media item-dashboard red">
                            <div class="media-body">
                                <h5 class="mt-0">0</h5>
                                <p>CV ứng tuyển mới</p>
                            </div>
                            <i class="fal fa-bullhorn"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="box-content">
                <div class="box-header">
                    <h3>
                        Thông tin người tuyển dụng
                    </h3>
                    <a href="javascript:;">
                        <i class="fa-solid fa-circle-info"></i>
                        <div>
                            Số liệu cập nhật liên tục
                        </div>
                    </a>
                </div>
                <div class="box-body">
                    <div class="user-info media">
                        <img src="~/Content/images/anhhocbong.png" alt="..." />
                        <ul class="media-body">
                            <li>thằng định</li>
                            <li>
                                Mã NTD: <span>631903</span>
                            </li>
                            <li>
                                Email: <span>dinhdv@vico.vn</span>
                            </li>
                            <li>
                                Số ĐT: <span>0877586111</span>
                            </li>
                        </ul>
                    </div>
                    <div class="use-package media">
                        <a href="javascript:;">
                            <i class="fa-regular fa-medal"></i>
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">Gói loại 1</h5>
                            <p>Đang sử dụng</p>
                        </div>
                        <a href="javascript:;">
                            <i class="fa-light fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>