

<ul>
    <li><a href="@Url.Action("Personal")"><i class="fa-solid fa-user"></i>Thông tin cá nhân</a></li>
    <li><a href="@Url.Action("Company")"><i class="fa-solid fa-building"></i>Thông tin công ty</a></li>
    <li><a href="@Url.Action("ChangePassword")"><i class="fa-solid fa-lock-keyhole"></i>Đặt lại mật khẩu</a></li>
</ul>
