<div class="form-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-avartar">
                <label>Avatar:</label>
                <img src="~/Content/images/user.jpg" />
                <button>Đổi avatar</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <input value="dinhdv@vico.vn" readonly class="form-control-plaintext col-sm-10" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Họ và tên:</label>
                <input class="form-control" value="thằng định" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Giới tính:</label>
                <select class="form-control">
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>
                    Số điện thoại:
                </label>
                <input class="form-control" value="0877586111" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>
                    Vị trí:
                </label>
                <select class="form-control">
                    <option>Tổng giám đốc</option>
                    <option>Nhân viên</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">
            Lưu lại
        </button>
    </div>
</div>