@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div class="container">
    <div class="box-content">
        <div class="box-header">
            <h3>
                Cài đặt tài khoản
            </h3>
        </div>
        <div class="box-body profile-tabs" id="tabs">
            <ul>
                <li><a href="@Url.Action("Personal")"><i class="fa-solid fa-user"></i>Thông tin cá nhân</a></li>
                <li><a href="@Url.Action("ChangePassword")"><i class="fa-solid fa-lock-keyhole"></i>Đặt lại mật khẩu</a></li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#tabs").tabs({
                beforeLoad: function (event, ui) {
                    ui.jqXHR.fail(function (data) {
                        console.log(data)
                        ui.panel.html();
                    });
                }
            });
        });
    </script>    
}