
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div class="contents-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="container py-5">
    <div class="row custom-row">
        <div class="col-lg-8">
            <div class="box-content">
                <table class="table table-cart">
                    <thead>
                        <tr>
                            <th scope="col" style="min-width: 200px;">Tên dịch vụ</th>
                            <th scope="col" style="min-width: 130px;">Đơn giá</th>
                            <th scope="col" class="text-center">Số lượng</th>
                            <th scope="col" style="min-width: 130px;">Số tiền (VNĐ)</th>
                            <th scope="col" class="text-center" style="width: 100px;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 5; i++)
                        {
                            <tr>
                                <td>
                                    <h5>Top max</h5>
                                    <p>
                                        Quảng cáo tin đăng tuyển dụng hiệu quả với vị trí nổi bật trong Việc làm tốt nhất kết hợp cùng các dịch vụ cao cấp và được bảo hành vị trí ưu tiên.
                                    </p>
                                </td>
                                <td>
                                    <strong class="text-green">
                                        7,500,000
                                    </strong>
                                </td>
                                <td class="text-center">
                                    <input class="input-number" value="1" min="1" max="5000" />
                                </td>
                                <td>
                                    <strong class="text-green">
                                        7,500,000
                                    </strong>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-content employer-sum">
                <div class="box-header">
                    <h3>Thông tin đơn hàng</h3>
                </div>
                <ul>
                    <li>
                        <span>
                            Tổng giá trị đơn hàng
                        </span>
                        <strong class="text-green">
                            0 VND
                        </strong>
                    </li>
                </ul>
                <a href="" class="btn btn-primary">Tạo đơn hàng</a>
            </div>
        </div>
    </div>
</div>