<div class="sidebar">
    <div class="media user-sidebar">
        <div class="w-show">
            <img src="~/Content/images/anhhocbong.png" alt="..." />
        </div>
        <div class="w-hidden media-body">
            <h5 class="mt-0">thằng định</h5>
            <p>Employer</p>
        </div>
    </div>
    <div class="vw"></div>
    <ul class="nav-sidebar">
        @for (int i = 0; i < 5; i++)
        {
            <li>
                <a href="">
                    <div class="w-show">
                        <i class="fa-regular fa-circle-user"></i>
                    </div>
                    <div class="w-hidden">
                        Quản lý CV
                    </div>
                </a>
            </li>
        }
    </ul>
    <div class="vw"></div>
    <ul class="nav-sidebar">
        @for (int i = 0; i < 5; i++)
        {
            <li>
                <a href="">
                    <div class="w-show">
                        <i class="fa-regular fa-circle-user"></i>
                    </div>
                    <div class="w-hidden">
                        Quản lý CV
                    </div>
                </a>
            </li>
        }
    </ul>
    <div class="vw"></div>
    <ul class="nav-sidebar">
        @for (int i = 0; i < 5; i++)
        {
            <li>
                <a href="">
                    <div class="w-show">
                        <i class="fa-regular fa-circle-user"></i>
                    </div>
                    <div class="w-hidden">
                        Quản lý CV
                    </div>
                </a>
            </li>
        }
    </ul>
</div>