@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2"></div>
    <div class="contents order-2 order-md-1 d-flex flex-column justify-content-center">
        <a href="/">
            <img src="~/Content/images/z5108183533913_f5a32e9f0440e3b6d60d9c260e3e82c8.jpg" alt="Đăng nhập" class="logo-form" />
        </a>
        <div class="title-form">
            Quên mật khẩu
        </div>
        <form class="user-form">
            <div class="alert-message mx-3 mx-md-0 message-success">
                <i class="fal fa-check-circle  mr-2"></i> Hãy kiểm tra email của bạn. Sau đó nhấn vào link trong hộp thư để đổi lại mật khẩu.
            </div>
            <div class="alert-message message-error mx-3 mx-md-0">
                <i class="fas fa-exclamation-circle mr-2"></i>Hãy cho chúng tôi biết địa chỉ email của bạn !!!
            </div>
            <label>
                Email
            </label>
            <div class="form-group form-control control-user">
                <i class="fas fa-envelope"></i>
                <input type="text" name="name" value="" placeholder="Nhập email " />
            </div>
            <button type="submit" class="submit-form btn btn-block form-group">
                Tạo lại mật khẩu
            </button>
        </form>
        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Login", "User")" class="text-success">Quay lại đăng nhập</a>
            <a href="@Url.Action("Register", "User")" class="text-success">Đăng ký tài khoản mới</a>
        </div>
        <hr />
        <div class="text-center">
            <strong> Bạn gặp khó khăn khi tạo tài khoản?</strong>
            <br />
            Vui lòng gọi tới số <a href="tel" class="text-success">024 6660 5588</a> (giờ hành chính).
        </div>
    </div>
</div>
@section scripts{
    <script>
        User();
    </script>
}