@model GlobeWork.ViewModel.AdviseViewModel
@*<div class="form-group">
    <div class="form-group">
        @Html.LabelFor(a => a.ApplyJob.Body)
        @Html.TextAreaFor(a => a.ApplyJob.Body, new { @class = "form-control text-cv", @placeholder = "Viết giới thiệu ngắn gọn về bản thân (điểm mạnh, điểm yếu) và nêu rõ mong muốn, lý do bạn muốn ứng tuyển cho vị trí này." })
    </div>
</div>*@