<div class="bg-light py-4   ">
    <div class="container">
        <div class="company-cover-inner">
            <div class="cover-wrapper">
                <img src="~/Content/images/banner-com.jpg" class="lazyload">
            </div>
            <div class="company-logo">
                <div class="company-image-logo">
                    <img src="~/Content/images/logo.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="company-detail-overview">
                <div class="box-detail">
                    <h1 class="company-detail-name ">CÔNG TY CỔ PHẦN SYSTEMATIC FUNCTIONS <span class="tag-name">Hà Nội</span></h1>
                    <div class="company-subdetail">
                        <a href="#" target="_blank"><i class="fa-light fa-globe"></i>https://www.fis.com.vn/</a>
                        <a href="javascripts:;"><i class="fa-solid fa-buildings"></i>5000+ nhân viên</a>
                        <a href="javascripts:;"><i class="fa-solid fa-users"></i>30+ công việc đang tuyển</a>
                    </div>
                </div>
                <div class="box-follow">
                    <a href="" class="btn btn-follow" target="_blank">
                        Xem trang công ty <i class="fa-light fa-arrow-up-right-from-square"></i>
                    </a>
                    <a href="" class="btn btn-follow">
                        <i class="fa-light fa-plus"></i> Theo dõi công ty
                    </a>
                </div>
            </div>
        </div>
        <div class="row custom-row">
            <div class="col-lg-8">
                <div class="job-detail__box--left ">
                    <div class="job-detail__name">
                        KEY ACCOUNT MANAGER
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-coins"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Mức lương</span>
                                    <span class="job-detail__info--section-content-value">Tới 25 triệu</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Địa điểm</span>
                                    <span class="job-detail__info--section-content-value">Hà Nội</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-solid fa-book-open-cover"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Yêu cầu</span>
                                    <span class="job-detail__info--section-content-value">Tuổi / Bằng cấp</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deadline">
                        <i class="fa-solid fa-clock"></i>Hạn nộp hồ sơ: 05/02/2024
                    </div>
                    <div class="button-list">
                        <div class="button1">Nộp hồ sơ</div>
                        <div class="button2">Cần tư vấn</div>
                        <a href="" class="button3"><i class="fa-regular fa-heart mr-2"></i> Lưu tin </a>
                    </div>
                </div>
                <div class="job-detail__box--left my-3">
                    <div class="job-detail__information-detail--title">
                        Chi tiết tin tuyển dụng
                    </div>
                    <div class="detail-title-box">
                        Hình ảnh minh họa
                    </div>
                    <div class="list-img">
                        @for (var i = 0; i < 4; i++)
                        {
                            <a href="#">
                                <img src="~/Content/images/duhoc.jpg" alt="Alternate Text" />
                            </a>
                        }
                    </div>
                    <div class="detail-title-box">
                        Mô tả công việc
                    </div>
                    <div class="content-detail">

                    </div>
                    <div class="detail-title-box">
                        Quyền lợi
                    </div>
                    <div class="content-detail">

                    </div>
                    <div class="detail-title-box">
                        Địa điểm làm việc
                    </div>
                    <div class="content-detail">

                    </div>
                </div>
                <div class="job-detail__information-detail--title mt-3 mb-4">
                    Top công ty cùng lĩnh vực
                </div>
                @for (var i = 0; i < 4; i++)
                {
                    <div class="samefield mb-3">
                        <div class="media align-items-center">
                            <div class="samefield-thuml">
                                <img src="~/Content/images/logo.png" alt="Alternate Text" class="lazyload" />
                            </div>
                            <div class="media-body ml-3">
                                <a href="#" class="samefield-name">CÔNG TY CỔ PHẦN GẠCH KHỐI TÂN KỶ NGUYÊN</a>
                                <div class="job-qtity">
                                    11 việc làm
                                </div>
                            </div>
                        </div>
                        <a href="" class="fl-samefield">
                            <i class="fa-light fa-plus mr-2"></i> Theo dõi
                        </a>
                        <div class="tag-i">
                            TOP 10
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4">
                <div class="job-detail__box--right ">
                    <div class="job-detail__box--right-title">
                        Việc làm cùng công ty
                    </div>
                    <form class="job-search-box">
                        <input type="text" name="name" value="" placeholder="Tên công việc, vị trí bạn muốn ứng tuyển..." />
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <hr />
                    @for (var i = 0; i < 2; i++)
                    {
                        <div class="job-in-company">
                            <div class="media">
                                <div class="company-avata border rounded">
                                    <img src="~/Content/images/logo.png" alt="Alternate Text" class="lazyload" />
                                </div>
                                <div class="media-body ml-2">
                                    <a href="#" class="job-in-company-name">Middle/Senior UX Designer</a>
                                </div>
                            </div>
                            <div class="company-job-name">
                                CÔNG TY CỔ PHẦN SYSTEMATIC FUNCTIONS
                            </div>
                            <div class="info-job-company">
                                <div class="info-job-company1">12 - 20 triệu </div>
                                <div class="info-job-company2">Hà Nội </div>
                                <div class="info-job-company3">Cập nhật 3 ngày trước </div>
                                <div class="info-job-company4 p-3"> <i class="fa-solid fa-clock mr-2"></i>Hạn nộp hồ sơ: 05/02/2024</div>
                            </div>
                            <a href="#" class="heart active"><i class="fas fa-heart"></i></a>
                        </div>
                    }
                    <a href="" class="view-more-job">Xem thêm công việc<i class="fal fa-long-arrow-right ml-2"></i></a>
                </div>
                <div class="job-detail__box--right mt-3">
                    <div class="job-detail__box--right-title">
                        Việc làm liên quan
                    </div>
                    <form class="job-search-box">
                        <input type="text" name="name" value="" placeholder="Tên công việc, vị trí bạn muốn ứng tuyển..." />
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <hr />
                    @for (var i = 0; i < 2; i++)
                    {
                        <div class="job-in-company pt-0 mb-3">
                            <div class="media align-items-center">
                                <div class="company-avata border rounded rounded-circle">
                                    <img src="~/Content/images/logo.png" alt="Alternate Text" class="lazyload rounded-circle" />
                                </div>
                                <div class="media-body ml-2">
                                    <a href="#" class="job-in-company-name mt-0">Middle/Senior UX Designer</a>
                                    <div class="company-job-name">
                                        CÔNG TY CỔ PHẦN SYSTEMATIC FUNCTIONS
                                    </div>
                                </div>
                            </div>
                            <div class="info-job-company resize-h">
                                <div class="info-job-company1">12 - 20 triệu </div>
                                <div class="info-job-company2">Hà Nội </div>
                            </div>
                            <a href="#" class="heart active"><i class="fas fa-heart"></i></a>
                        </div>
                    }
                    <a href="" class="view-more-job">Xem thêm công việc<i class="fal fa-long-arrow-right ml-2"></i></a>
                </div>
                <div class="job-detail__box--right mt-3">
                    <div class="job-detail__box--right-title">
                        Chia sẻ công ty tới bạn bè
                    </div>
                    <div class="copy-link">
                        <div class="link">
                            <span>
                                https://edujob.net/cong-ty/cong-ty-comm
                                https://edujob.net/cong-ty/cong-ty-comm
                                https://edujob.net/cong-ty/cong-ty-comm
                            </span>
                        </div>
                        <button type="button"><i class="fas fa-copy"></i></button>
                    </div>
                    <div class="job-detail__box--right-title mt-4">
                        Chia sẻ qua mạng xã hội
                    </div>
                    <ul class="ul-reset share-social mt-2">
                        <li>
                            <a href="#" target="_blank"><img src="~/Content/images/facebook.png" alt="Facebook" /></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="Facebook" /></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><img src="~/Content/images/linkedin.png" alt="Facebook" /></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        Details()
    </script>
    } 