<div class="bg-light py-4   ">
    <div class="container">
        <div class="company-cover-inner">
            <div class="cover-wrapper">
                <img src="~/Content/images/banner-com.jpg" class="lazyload">
            </div>
            <div class="company-logo">
                <div class="company-image-logo">
                    <img src="~/Content/images/logo.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="company-detail-overview">
                <div class="box-detail">
                    <h1 class="company-detail-name ">CÔNG TY CỔ PHẦN SYSTEMATIC FUNCTIONS</h1>
                    <div class="company-subdetail">
                        <a href="#" target="_blank"><i class="fa-light fa-globe"></i>https://www.fis.com.vn/</a>
                        <a href="javascripts:;"><i class="fa-solid fa-building-memo"></i>5000+ nhân viên</a>
                        <a href="javascripts:;"><i class="fa-solid fa-users"></i>30+ công việc đang tuyển</a>
                    </div>
                </div>
                <div class="box-follow">
                    <a href="" class="btn btn-follow" target="_blank">
                        Xem trang công ty <i class="fa-light fa-arrow-up-right-from-square"></i>
                    </a>
                    <a href="" class="btn btn-follow">
                        <i class="fa-light fa-plus"></i> Theo dõi công ty
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="job-detail__box--left ">
                    <div class="job-detail__name">
                        KEY ACCOUNT MANAGER
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-coins"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Mức lương</span>
                                    <span class="job-detail__info--section-content-value">Tới 25 triệu</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Địa điểm</span>
                                    <span class="job-detail__info--section-content-value">Hà Nội</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-solid fa-book-open-cover"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Yêu cầu</span>
                                    <span class="job-detail__info--section-content-value">Tuổi / Bằng cấp</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deadline">
                        <i class="fa-solid fa-clock"></i>Hạn nộp hồ sơ: 05/02/2024
                    </div>
                    <div class="button-list">
                        <div class="button1">Nộp hồ sơ</div>
                        <div class="button2">Cần tư vấn</div>
                        <a href="" class="button3"><i class="fa-regular fa-heart mr-2"></i> Lưu tin </a>
                    </div>
                </div>
                <div class="job-detail__box--left my-3">
                    <div class="job-detail__information-detail--title">
                        Chi tiết tin tuyển dụng
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job-detail__box--right my-3">

                </div>
            </div>
        </div>
    </div>
</div>
